<template>
  <div class="home">
    <Navbar />
    <div class="container">
      <Hero />
      <div class="row mt-4">
        <div class="col">
          <h2>Best <strong>Games</strong></h2>
        </div>
        <div class="col">
          <router-link to="/games" class="btn btn-success float-right">
            <b-icon-eye></b-icon-eye> See All
          </router-link>
        </div>
      </div>

      <div class="row mb-4">
        <div
          v-for="item in products"
          v-bind:key="item.id"
          class="col-md-4 mt-4"
        >
            
          <CardProduct v-bind:image="item.gambar" v-bind:title="item.nama" v-bind:price="item.harga" v-bind:id="item.id" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from "@/components/Navbar.vue";
import Hero from "@/components/Hero.vue";
import CardProduct from "@/components/CardProduct.vue";
import axios from "axios";

export default {
  name: "Home",
  components: {
    Navbar,
    Hero,
    CardProduct,
  },
  data() {
    return {
      products: [],
    };
  },
  methods: {
    setProduct(data) {
      this.products = data;
    },
  },
  mounted() {
    axios
      .get("http://localhost:3000/best-products")
      .then((res) => {
        this.setProduct(res.data);
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>
