<template>
  <div class="card shadow card-product">
  <img :src="require(`../assets/${image}`)" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Price: Rp{{price}}</p>
    <router-link :to="'/games/'+id" class="btn btn-success"><b-icon-cart></b-icon-cart> Order</router-link>
  </div>
</div>
</template>

<script>
export default {
    name:'CardProduct',
    props:{
        title: String,
        price: Number,
        image: String,
        id: Number
    }
}
</script>

<style></style>
